# メール送信設定
# Gmailを使用する場合は、アプリパスワードを生成してください
# https://support.google.com/accounts/answer/185833

[email]
address = "your-email@gmail.com"
app_key = "your-app-password"

# データベース接続設定
[connections.my_db]
url = "sqlite:///./app/db/app_db.db"
